<!DOCTYPE html>
<html>

	<head>
		<!-- 页面meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>产品路线管理</title>
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../plugins/bootstrap-5.1.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
		<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<script src="../plugins/jquery/jquery-2.2.3.min.js"></script>
		<script src="../plugins/bootstrap-5.1.0-dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

		<!-- 分页组件开始 -->
		<script src="../plugins/angularjs/pagination.js"></script>
		<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
		<!-- 分页组件结束 -->

		<script type="text/javascript" src="../js/base.js"></script>
		<script type="text/javascript" src="../js/service/productRoadService.js"></script>
		<script type="text/javascript" src="../js/service/uploadService.js"></script>
		<script type="text/javascript" src="../js/controller/productRoadController.js"></script>
		

		<script src="../plugins/bootstrap-5.1.0-dist/js/bootstrap.bundle.js"></script>

	</head>

	<body class="hold-transition skin-red sidebar-mini" ng-app="travel" ng-controller="productRoadController"
		data-ng-init="load()">
<div style="width: 100%;height: 100px;">
			
		</div>
		<!-- .box-body -->
		<div class="box-header with-bproductRoad">
			<!-- <h3 class="box-title ">产品路线管理</h3> -->
		</div>
		<div class="box-body">
			<!-- 数据表格 -->
			<div class="table-box">


				<!--工具栏-->
				<div class="pull-left div-left">
					<div class="form-group form-inline">
						<div class="btn-group">

						</div>
					</div>
				</div>


				<div class="search-div">
					<div class="div-left  input-margin">
						<button class="btn btn-blue-primary" ng-click="findProductRoadSearch()">查询</button>
						<button class="btn btn-secondary" ng-click="findProductRoadSearchReset()">清空</button>

					</div>

					<div class="div-left">
						<td>
							<div class="input-margin">
						<td class="input-margin-td-left ">
							名称：
						</td>
						<td class="input-margin-td-right">



							<input class="form-control" id="searchName" placeholder="名称"
								ng-model="searchEntity.name">

						</td>
					</div>
					</td>
					<td>
							<div class="input-margin">
						<td class="input-margin-td-left ">
							描述：
						</td>
						<td class="input-margin-td-right">
					
					
					
							<input class="form-control" id="searchRemark" placeholder="描述"
								ng-model="searchEntity.remark">
					
						</td>
					</div>
					</td>
					
					
			
		

		</div>
		</div>













		<!--工具栏/-->
		<div class="table-div-radius table-div table-div-margin table-div-backgroud">

			<div class="btn-div">


				<button type="button" class="table-div-btn" title="新建" data-bs-toggle="modal"
					data-bs-target="#insertModel" ng-click="insertProductRoadClick()"><i class="fa fa-file-o"></i> 新建</button>
				<button type="button" class="table-div-btn" title="删除" data-bs-toggle="modal"
					data-bs-target="#deletesModal"><i class="fa fa-trash-o"></i> 删除</button>

				<button type="button" class="table-div-btn" title="刷新" ng-click="reloadProductRoad()"><i
						class="fa fa-refresh"></i> 刷新</button>

			</div>

			<div class="table-div-body table-div-scroll">
				<!--数据列表-->
				<table id="dataList" class="div-table table-div-text  div-table-striped div-table-hover">
					<thead>
						<tr>
							<th class="table-th text-padding">
								<input class="input-checkbox" id="selall" type="checkbox" class="icheckbox_square-blue">
							</th>
							<th class="table-th text-padding">产品路线ID</th>
							<th class="table-th text-padding">路线名称</th>
							<th class="table-th text-padding">路线描述</th>
							<th class="table-th text-padding">路线节点</th>
							
							
							<th class="text-center table-th">操作</th>
						</tr>
					</thead>
					<tbody class="">

						<tr class="table-tip-center" ng-show="list | isEmptyFilter">
							<td class="table-tip-td" colspan="6">{{'当前没有产品路线信息'}}</td>
						</tr>
						<tr ng-repeat="entity in list" class="{{!$odd?'table-td-stried':''}}">
							<td class="min-table-td text-padding">
								<input class="input-checkbox" type="checkbox"
									ng-click="updateSelection($event, entity.order_id)" ng-if="entity.del_flag==0">
								<input class="input-checkbox" type="checkbox" class="switch-disabled"
									ng-if="entity.del_flag!=0" disabled="disabled">
							</td>
							
							<td class="min-table-td text-padding">{{entity.road_id}}</td>
							<td class="min-table-td text-padding">{{entity.name}}</td>
							<td class="min-table-td text-padding">{{entity.remark | remarkStr}}</td>
							<td class="min-table-td text-padding">
								<div ng-repeat="roadNode in entity.roadNodeList">
									<div class="alert alert-secondary" style="color: #FFFFFF;background-color: rgba(129, 129, 129, 0.8) !important;">
										<br/>序号：{{roadNode.num}}
										<br/>节点名称：{{roadNode.node}}
										<br/>节点描述：{{roadNode.remark | remarkStr}}
									</div>
								</div>
								
							</td>
							
							
				
							

							
							
							<td class="text-center min-table-td">
								<div class="div-width">
									<button type="button" class="btn bg-olive btn-xs text-nowrap" data-bs-toggle="modal"
										data-bs-target="#editModal" ng-click="findProductRoadById(entity)"
										>修改</button>
									
									<button type="button" class="btn bg-olive btn-xs text-nowrap" data-bs-toggle="modal"
										data-bs-target="#deleteButtonModal" ng-click="findProductRoadById(entity)"
										>删除</button>

									
								</div>

							</td>

						</tr>

					</tbody>
				</table>
			</div>


			<div class="btn-div">
				<p class="display-change text-white">总共{{(totalNumbers/row) | textCeil}} 页,
					{{totalNumbers}} 条
				</p>

				<div class="display-change page-skiprow-div">
					<div class="display-change page-input-label text-white">
						每页
						<div class="mb-3 display-change">

							<div class="dropup">
								<button class="table-div-btn dropdown-toggle" type="button" id="dropdownMenuButton"
									data-bs-toggle="dropdown" aria-expanded="false">
									{{row}}
								</button>
								<ul class="dropdown-menu table-ul-div" aria-labelledby="dropdownMenuButton">
									<li><button type="button" class="dropdown-item {{row==5?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,5)">5</button></li>
									<li><button type="button" class="dropdown-item {{row==10?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,10)">10</button></li>
									<li><button type="button" class="dropdown-item {{row==20?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,20)">20</button></li>
									<li><button type="button" class="dropdown-item {{row==30?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,30)">30</button></li>
									<li><button type="button" class="dropdown-item {{row==40?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,40)">40</button></li>
									<li><button type="button" class="dropdown-item {{row==50?'table-ul-div-active':''}}"
											ng-click="skipRowFn(1,50)">50</button></li>
								</ul>
							</div>

						</div>
						条
					</div>

				</div>
				<div class="display-change">

					<div class="display-change page-input-label text-white">
						第&nbsp;
						<div class="mb-3 display-change">
							<input class="form-control display-change table-skip-btn table-div-btn" id="skipPage"
								placeholder="页数" ng-model="skipPage">

						</div>
						&nbsp; 页
					</div>
					<button type="button" class="table-div-btn" ng-click="findProductRoadPage()"><i class="fa fa-file-o">跳转</i>
					</button>
				</div>





			</div>

			<hr style="height:1px;bproductRoad:1px solid #ffffff;color: #ffffff;" />

			<div class="btn-div">


				<div class="display-change">


					<button class="table-nav-btn  nav-minwidth-sm" ng-click="skipPageFn(1)">首页</a>

						<button class="table-nav-btn page-disabled  nav-minwidth-sm" disabled="disabled"
							ng-show="(page-1)<1?true:false">上一页</button>


						<button class="table-nav-btn nav-minwidth-sm" ng-click="skipPageFn(page-1)"
							ng-show="(page-1)<1?false:true">上一页</buttom>

							<button class="table-nav-btn nav-minwidth-sm" ng-click="skipPageFn(page-2)"
								ng-show="(page-2)<1?false:true" ng-bind="page-2"></button>
							<button class="table-nav-btn  nav-minwidth-sm" ng-click="skipPageFn(page-1)"
								ng-show="(page-1)<1?false:true" ng-bind="page-1"></button>

							<button class="table-nav-btn-active  nav-minwidth-sm">{{page}}</button>


							<button class="table-nav-btn  nav-minwidth-sm" ng-click="skipPageFn(page+1)"
								ng-show="((((totalNumbers/row) | textCeil)-page)<1?false:true)"
								ng-bind="page+1"></button>


							<button class="table-nav-btn  nav-minwidth-sm" ng-click="skipPageFn(page+2)"
								ng-show="((((totalNumbers/row) | textCeil)-page)<2?false:true)"
								ng-bind="page+2"></button>



							<button class="table-nav-btn page-disabled  nav-minwidth-sm" disabled="disabled"
								ng-show="((totalNumbers/row)<=page?true:false)">
								下一页</button>

							<button class="table-nav-btn nav-minwidth-sm"
								ng-show="((totalNumbers/row)<=page?false:true)"
								ng-click="skipPageFn(page+1)">下一页</button>
							</li>
							<button class="table-nav-btn  nav-minwidth-sm"
								ng-click="skipPageFn(((totalNumbers/row) | textCeil))">尾页</button>







				</div>


			</div>





		</div>





		</div>
		<!-- 数据表格 /-->
		</div>
		<!-- /.box-body -->

		<div class="toast-div">


			<div class="toast toast-position  div-radius " productRoad="alert" aria-live="assertive" aria-atomic="true">
				<div
					class="toast-header  Larger shadow  {{success=='true'?' text-white btn-success':' text-white bg-danger'}}">

					<strong class="me-auto">Travel旅游系统</strong>
					<small>{{nowtime | date:'yyyy-MM-dd HH:mm:ss'}}</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					<figure class="text-center">
						<blockquote class="blockquote">
							<p>{{msg}}</p>
						</blockquote>

					</figure>

				</div>
			</div>


			<!-- Modal -->
			<div class="modal fade" id="changeStatusModal" data-bs-backdrop="static" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-sm">
					<div class="modal-content div-radius">
						<div class="modal-header Larger shadow  btn-danger" ng-show="entity.status=='0'">
							<h3 class="modal-title">警告</h5>
						</div>
						<div class="modal-header Larger shadow  btn-sucess" ng-show="entity.status!='0'">
							<h3 class="modal-title">警告</h5>
						</div>
						<div class="modal-body">

							{{entity.status=='0'?'确定禁用此产品路线吗':'确定启用此产品路线吗？'}}

						</div>
						<div class="modal-footer">

							<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="updateProductRoadStatus()">确定</button>
							<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="changeSwitchCancel('#status_switch_')">取消</button>
						</div>
					</div>
				</div>
			</div>




			<!-- Modal -->
			<div class="modal fade" id="deletesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-sm">
					<div class="modal-content div-radius">
						<div class="modal-header Larger shadow  alert-danger">
							<h3 class="modal-title">警告</h5>
						</div>
						<div class="modal-body">

							确定删除这些产品路线吗?

						</div>
						<div class="modal-footer">

							<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="deleteProductRoadByIds()">确定</button>
							<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">取消</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="deleteButtonModal" data-bs-backdrop="static" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-sm">
					<div class="modal-content div-radius">
						<div class="modal-header Larger shadow  alert-danger">
							<h3 class="modal-title">警告</h5>
						</div>
						<div class="modal-body">

							确定删除该产品路线吗?

						</div>
						<div class="modal-footer">

							<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="deleteProductRoadById()">确定</button>
							<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">取消</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-sm">
					<div class="modal-content div-radius">
						<div class="modal-header Larger shadow  alert-danger">
							<h3 class="modal-title">警告</h5>
						</div>
						<div class="modal-body">

							确定删除该产品路线吗?

						</div>
						<div class="modal-footer">

							<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="deleteProductRoadById()">确定</button>
							<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true"
								ng-click="changeSwitchCancel('#del_flag_switch_')">取消</button>
						</div>
					</div>
				</div>
			</div>




			<!-- Modal -->
			<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content div-radius">
						<div class="modal-header Larger shadow">
							<h3 class="modal-title" id="staticBackdropLabel">产品路线编辑</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table
								class="table table-striped table-bproductRoaded-simple table-hover bproductRoad-bottom table-center"
								width="1200px">

								<tr>
									<td>产品路线ID</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editProductRoadId" placeholder="产品路线ID"
												ng-model="entity.productRoad_id">
											<label for="editProductRoadId">ProductRoad ID</label>
										</div>

									</td>
								</tr>
								<tr>
									<td>标题</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editTitle" placeholder="Title"
												ng-model="entity.title">
											<label for="editTitle">Title</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>描述</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editRemark" placeholder="Remark"
												ng-model="entity.remark">
											<label for="editRemark">Remark</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>开始时间</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editStart" placeholder="Start"
												ng-model="entity.start">
											<label for="editStart">Start</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>结束时间</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editEnd" placeholder="End"
												ng-model="entity.end">
											<label for="editEnd">End</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>价格</td>
									<td>


										<div class="form-floating mb-3">
											<input class="form-control" id="editPrice" placeholder="价格" ng-model="entity.price">
											<label for="editPrice">Price</label>
										</div>

									</td>
								</tr>
								<tr>
									<td>类型</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editType" placeholder="类型" ng-model="entity.type">
											<label for="editType">Type</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>洲</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editDuration" placeholder="洲" ng-model="entity.duration">
											<label for="editDuration">Duration</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>国家</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editCountry" placeholder="国家" ng-model="entity.country">
											<label for="editCountry">Country</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>省</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editProvice" placeholder="省" ng-model="entity.province">
											<label for="editProvince">province</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>城市</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editCity" placeholder="城市" ng-model="entity.city">
											<label for="editCity">City</label>
										</div>
								
									</td>
								</tr>
								
						
					</table>

				</div>
				<div class="modal-footer">

					<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true" ng-click="updateProductRoad()">保存</button>
					<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			
			
		</div>
		</div>

		
		<!-- Modal -->
		<div class="modal fade" id="insertModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="addstaticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content div-radius">
					<div class="modal-header Larger shadow">
						<h3 class="modal-title" id="addstaticBackdropLabel">添加产品路线</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table
							class="table table-striped table-bproductRoaded-simple table-hover bproductRoad-bottom table-center"
							width="1200px">
								<tr>
									<td>产品路线ID</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editProductRoadId" placeholder="产品路线ID"
												ng-model="entity.productRoad_id">
											<label for="editProductRoadId">ProductRoad ID</label>
										</div>

									</td>
								</tr>
								<tr>
									<td>标题</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editTitle" placeholder="Title"
												ng-model="entity.title">
											<label for="editTitle">Title</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>描述</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editRemark" placeholder="Remark"
												ng-model="entity.remark">
											<label for="editRemark">Remark</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>开始时间</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editStart" placeholder="Start"
												ng-model="entity.start">
											<label for="editStart">Start</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>结束时间</td>
									<td>
										<div class="form-floating mb-3">
											<input class="form-control" id="editEnd" placeholder="End"
												ng-model="entity.end">
											<label for="editEnd">End</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>价格</td>
									<td>


										<div class="form-floating mb-3">
											<input class="form-control" id="editPrice" placeholder="价格" ng-model="entity.price">
											<label for="editPrice">Price</label>
										</div>

									</td>
								</tr>
								<tr>
									<td>类型</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editType" placeholder="类型" ng-model="entity.type">
											<label for="editType">Type</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>洲</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editDuration" placeholder="洲" ng-model="entity.duration">
											<label for="editDuration">Duration</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>国家</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editCountry" placeholder="国家" ng-model="entity.country">
											<label for="editCountry">Country</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>省</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editProvice" placeholder="省" ng-model="entity.province">
											<label for="editProvince">province</label>
										</div>
								
									</td>
								</tr>
								<tr>
									<td>城市</td>
									<td>
								
								
										<div class="form-floating mb-3">
											<input class="form-control" id="editCity" placeholder="城市" ng-model="entity.city">
											<label for="editCity">City</label>
										</div>
								
									</td>
								</tr>
							
		
		
				</table>
		
			</div>
			<div class="modal-footer">
		
				<button class="btn btn-success" data-bs-dismiss="modal" aria-hidden="true"
					ng-click="insertProductRoad()">保存</button>
				<button class="btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
		
		</div>
		</div>
		<div style="width: 100%;height: 200px;">
			
		</div>
	</body>
	<script>

	</script>
</html>
